[Unit]
Description=Backpocketsearch Flask Application
After=network.target

[Service]
User=hore
WorkingDirectory=/home/hore/pocketSearch
EnvironmentFile=/home/hore/pocketSearch/.env
ExecStart=/usr/bin/gunicorn --workers 3 -k gevent --access-logfile /home/hore/pocketSearch/access.log --access-logformat "%\({X-Real-IP\}i)s %\({X-Forwarded-For\}i)s %\({Host\}i)s %\(t)s \"%\(r)s\" %\(s)s %\(b)s %\(L)s" --timeout 300 --bind 127.0.0.1:5000 app:app
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target

[Service]
ExecStopPost=/usr/local/bin/pocketsearch-notify
